/* Estilos globales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor principal con borde negro */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(180, 90, 90, 0.1);
  border: 2px solid black; /* Borde negro */
}

/* Estilo para los botones */
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* Estilo para el número del contador */
.count {
  font-size: 48px;
  margin: 20px;
  font-weight: bold;
}

/* Estilo para el texto del número máximo */
.max-number {
  font-size: 20px;
  margin-top: 10px;
  color: #339c79;
}

/* Estilo para el campo de entrada del número del usuario */
.user-input {
  padding: 10px;
  margin: 10px 0;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}

/* Estilo para el mensaje de comparación */
.comparison-message {
  font-size: 18px;
  margin-top: 10px;
  color: #ff5733; /* Color para el mensaje de comparación */
}
